---
http_interactions:
- request:
    method: get
    uri: https://api.mollie.nl/v1/methods/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_4drFuX5HdjBaFxdXoaABYD8yO4HjuT
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Whom:
      - dc1-web-4
    body:
      encoding: UTF-8
      string: '{"totalCount":8,"offset":0,"count":8,"data":[{"id":"ideal","description":"iDEAL","amount":{"minimum":"0.55","maximum":"50000.00"},"image":{"normal":"https://www.mollie.com/images/payscreen/methods/ideal.png","bigger":"https://www.mollie.com/images/payscreen/methods/ideal@2x.png"}},{"id":"creditcard","description":"Creditcard","amount":{"minimum":"0.32","maximum":"250.00"},"image":{"normal":"https://www.mollie.com/images/payscreen/methods/creditcard.png","bigger":"https://www.mollie.com/images/payscreen/methods/creditcard@2x.png"}},{"id":"mistercash","description":"Bancontact/Mister
        Cash","amount":{"minimum":"0.31","maximum":"10000.00"},"image":{"normal":"https://www.mollie.com/images/payscreen/method[...]
