---
http_interactions:
- request:
    method: get
    uri: https://api.mollie.nl/v1/methods/ideal
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_4drFuX5HdjBaFxdXoaABYD8yO4HjuT
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Whom:
      - dc1-web-3
    body:
      encoding: UTF-8
      string: '{"id":"ideal","description":"iDEAL","amount":{"minimum":"0.55","maximum":"50000.00"},"image":{"normal":"https://www.mollie.com/images/payscreen/methods/ideal.png","bigger":"https://www.mollie.com/images/payscreen/methods/ideal@2x.png"}}'
  recorded_at: Fri, 30 Jan 2015 08:41:13 GMT
recorded_with: VCR 2.9.3
