---
http_interactions:
- request:
    method: get
    uri: https://api.mollie.nl/v1/payments/tr_8NQDMOE7EC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_4drFuX5HdjBaFxdXoaABYD8yO4HjuT
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Whom:
      - dc1-web-1
    body:
      encoding: UTF-8
      string: '{"id":"tr_8NQDMOE7EC","mode":"test","createdDatetime":"2014-08-12T12:27:26.0Z","status":"paid","paidDatetime":"2014-08-12T12:33:23.0Z","amount":"99.99","description":"My
        fantastic product","method":"ideal","metadata":null,"details":{"consumerName":"T.
        TEST","consumerAccount":"NL17RABO0213698412","consumerBic":"TESTNL99"},"locale":"nl","links":{"redirectUrl":"http://localhost:3000/payments/1/update"}}'
  recorded_at: Tue, 12 Aug 2014 12:33:39 GMT
recorded_with: VCR 2.9.2
