---
http_interactions:
- request:
    method: get
    uri: https://api.mollie.nl/v1/payments/tr_8DVABUHXn8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_NvvGesXLb61BFPvndsxzfqFBAqYmKN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Whom:
      - dc1-web-2
    body:
      encoding: UTF-8
      string: |-
        {
          "id":"tr_8DVABUHXn8",
          "mode":"test",
          "createdDatetime":"2014-01-26T14:30:36.0Z",
          "status":"paid",
          "paidDatetime":"2014-01-26T14:38:49.0Z",
          "amount":"99.99",
          "description":"My fantastic product",
          "method":"ideal",
          "metadata":null,
          "details":{
            "consumerName":"T. TEST",
            "consumerAccount":"NL17RABO0213698412"
          },
          "links":{
            "redirectUrl":"http://localhost:3000/payments/1/update"
          }
        }
  recorded_at: Sun, 26 Jan 2014 15:19:21 GMT
recorded_with: VCR 2.8.0
