---
http_interactions:
- request:
    method: post
    uri: https://api.mollie.nl/v1/payments/tr_8NQDMOE7EC/refunds
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer test_4drFuX5HdjBaFxdXoaABYD8yO4HjuTfoo
  response:
    status:
      code: 401
      message: Authorization Required
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Www-Authenticate:
      - Basic realm="Mollie API Key"
    body:
      encoding: UTF-8
      string: '{"error":{"type":"request","message":"Unauthorized request","links":{"documentation":"https://www.mollie.nl/api/docs/"}}}'
  recorded_at: Wed, 08 Oct 2014 20:27:36 GMT
recorded_with: VCR 2.9.3
