---
http_interactions:
- request:
    method: post
    uri: https://api.mollie.nl/v1/payments
    body:
      encoding: UTF-8
      string: amount=99.99&description=My%20fantastic%20product&redirectUrl=http%3A%2F%2Flocalhost%3A3000%2Fpayments%2F1%2Fupdate&metadata[order_id]=R232454365&method=
    headers:
      Authorization:
      - Bearer test_4drFuX5HdjBaFxdXoaABYD8yO4HjuT
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Whom:
      - dc1-web-2
    body:
      encoding: UTF-8
      string: '{"id":"tr_ALc7B2h9UM","mode":"test","createdDatetime":"2014-10-08T08:40:18.0Z","status":"open","expiryPeriod":"PT15M","amount":"99.99","description":"My
        fantastic product","method":null,"metadata":{"order_id":"R232454365"},"details":null,"links":{"paymentUrl":"https://www.mollie.nl/payscreen/pay/ALc7B2h9UM","redirectUrl":"http://localhost:3000/payments/1/update"}}'
  recorded_at: Wed, 08 Oct 2014 08:40:17 GMT
recorded_with: VCR 2.9.3
