---
http_interactions:
- request:
    method: post
    uri: https://api.mollie.nl/v1/payments
    body:
      encoding: UTF-8
      string: amount=99.99&description=My%20fantastic%20product&redirectUrl=http%3A%2F%2Flocalhost%3A3000%2Fpayments%2F1%2Fupdate
    headers:
      Authorization:
      - Bearer test_6zjmE6z9SRyzUs7hRbl7AY6MU5jFoW
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Whom:
      - dc1-web-2
    body:
      encoding: UTF-8
      string: '{"id":"tr_8NQDMOE7EC","mode":"test","createdDatetime":"2014-08-12T12:27:26.0Z","status":"open","expiryPeriod":"PT15M","amount":"99.99","description":"My
        fantastic product","method":null,"metadata":null,"details":null,"links":{"paymentUrl":"https://www.mollie.nl/payscreen/pay/8NQDMOE7EC","redirectUrl":"http://localhost:3000/payments/1/update"}}'
  recorded_at: Tue, 12 Aug 2014 12:27:26 GMT
recorded_with: VCR 2.9.2
