---
http_interactions:
- request:
    method: post
    uri: https://api.mollie.nl/v1/payments
    body:
      encoding: UTF-8
      string: amount=99.99&description=My%20fantastic%20product&redirectUrl=http%3A%2F%2Flocalhost%3A3000%2Fpayments%2F1%2Fupdate
    headers:
      Authorization:
      - Bearer test_NvvGesXLb61BFPvndsxzfqFBAqYmKN
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Whom:
      - dc1-web-1
    body:
      encoding: UTF-8
      string: |-
        {
          "id":"tr_FnFhEkdA9B",
          "mode":"test",
          "createdDatetime":"2014-01-26T15:23:25.0Z",
          "status":"open",
          "amount":"99.99",
          "description":"My fantastic product",
          "method":null,
          "metadata":null,
          "details":null,
          "links":{
            "paymentUrl":"https://www.mollie.nl/payscreen/pay/FnFhEkdA9B",
            "redirectUrl":"http://localhost:3000/payments/1/update"
          }
        }
  recorded_at: Sun, 26 Jan 2014 15:23:25 GMT
recorded_with: VCR 2.8.0
