---
http_interactions:
- request:
    method: post
    uri: https://api.mollie.nl/v1/payments
    body:
      encoding: UTF-8
      string: amount=99.99&description=My%20fantastic%20product&redirectUrl=http%3A%2F%2Flocalhost%3A3000%2Fpayments%2F1%2Fupdate&metadata[order_id]=R232454365
    headers:
      Authorization:
      - Bearer test_6zjmE6z9SRyzUs7hRbl7AY6MU5jFoW
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Whom:
      - dc1-web-1
    body:
      encoding: UTF-8
      string: '{"id":"tr_ALc7B2h9UM","mode":"test","createdDatetime":"2014-08-12T14:16:33.0Z","status":"open","expiryPeriod":"PT15M","amount":"99.99","description":"My
        fantastic product","method":null,"metadata":{"order_id":"R232454365"},"details":null,"links":{"paymentUrl":"https://www.mollie.nl/payscreen/pay/ALc7B2h9UM","redirectUrl":"http://localhost:3000/payments/1/update"}}'
  recorded_at: Tue, 12 Aug 2014 14:16:34 GMT
recorded_with: VCR 2.9.2
