---
http_interactions:
- request:
    method: post
    uri: https://api.mollie.nl/v1/payments/tr_8NQDMOE7EC/refunds
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer test_6zjmE6z9SRyzUs7hRbl7AY6MU5jFoW
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Whom:
      - dc1-web-2
    body:
      encoding: UTF-8
      string: '{"id":"re_O5sCpw4kwb","payment":{"id":"tr_8NQDMOE7EC","mode":"test","createdDatetime":"2014-08-12T12:27:26.0Z","status":"refunded","expiryPeriod":"PT","amount":"99.99","description":"My
        fantastic product","method":"ideal","metadata":null,"details":{"consumerName":"T.
        TEST","consumerAccount":"NL17RABO0213698412","consumerBic":"TESTNL99"},"locale":"nl","links":{"redirectUrl":"http://localhost:3000/payments/1/update"}},"amountRefunded":"99.99","amountRemaining":"0.00","refundedDatetime":"2014-08-12T14:11:32.0Z"}'
  recorded_at: Tue, 12 Aug 2014 14:11:32 GMT
recorded_with: VCR 2.9.2
